<h1>Diffusion pipeline options</h1>
<br>
This tool will process DMRI data.
<br>
<br>
<b>Options</b>:
<ul>
    <li><b>NLMeans sigma</b>: Sigma parameter to pass to the nlmeans algorithm (default: auto estimation)</li>
    <li><b>B0 threshold</b>: Threshold used to define which directions are 'b0' directions (default 0)</li>
    <li><b>Fiber response function</b>: Fiber response function to me mutiplied by 10**-4 in the CSD reconstruction (default: 15,4,4)</li>
    <li><b>Dicom series tag</b>: Tag used to find the good dicom series (if the dicom file contains multiple series) (default: )</li>
</ul>
