
<h1>Dicom diffusion pipeline</h1>

<h3>The dicom diffusion pipeline processes dicom diffusion MRI data and outputs
    various DTI and HARDI metrics.
</h3>
<ul>
    Step by step procedure:
    <li>Dicom conversion to nifti (via MRTrix's mrconvert)</li>
    <li>Gradient direction and intensity extraction (via MRTrix's mrinfo)</li>
    <li>Brain extraction (via FSL bet)</li>
    <li>Brain extraction (via FSL bet)</li>
    <li>Denoising with the NLMeans alorithm</li>
    <li>DTI metrics computation</li>
    <li>CSA reconstruction</li>
    <li>CSD reconstruction</li>
</ul>
